<%= form_for @history, :html => { :class => "form-horizontal history" } do |f| %>

  <% if @history.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :project_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:project_id, @projects, :id, :name, prompt: false) %>
    </div>
    <%=f.error_span(:project_id) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:status, 
                options_for_select([["Pendente", "P"], ["Em Andamento", "A"], ["Concluído", "C"], ["Entregue", "E"]], @history.status),
                { include_blank: false }) %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :person_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:person_id, @people, :id, :name, prompt: false) %>
    </div>
    <%=f.error_span(:person_id) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :started_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select(:started_at) %>
    </div>
    <%=f.error_span(:started_at) %>
  </div>
  <div class="form-group">
    <%= f.label :finished_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select(:finished_at) %>
    </div>
    <%=f.error_span(:finished_at) %>
  </div>
  <div class="form-group">
    <%= f.label :deadline, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select(:deadline) %>
    </div>
    <%=f.error_span(:deadline) %>
  </div>
  <div class="form-group">
    <%= f.label :points, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :points, :class => 'form-control' %>
    </div>
    <%=f.error_span(:points) %>
  </div>

  <h2>Tarefas</h2>
  <table class="table table-striped">
    
    <%= f.fields_for :tasks do |ff| %>
      <tr>
        <td>
          <%= ff.label :description %> 
          <%= ff.text_field :description %>
        </td>
        <td>
          <%= ff.label :done %>
          <%= ff.check_box(:done, {}, "Feito") %>
        </td>
        <td>
          <%= ff.hidden_field :id %>
        </td>
        <td>
          <%= ff.label :_destroy, "Apagar" %>
          <%= ff.check_box :_destroy %>
        <td>
      </tr>
    <% end %>
  </table>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                histories_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
